h1{
    
    
    background-color: rgb(209, 149, 228);
    color: rgb(52, 27, 58);;
    border-radius: 10px;
    width: 400px;
    padding: 10px;
    
    margin-right: auto;
}

h2{
    
    color: rgb(52, 27, 58);;
    border-radius: 10px;
}

h3{
    
    color: rgb(52, 27, 58);;
    border-radius: 10px;
}


    
p{

    font-size: 20px;
    width: 400px;
    background-color: rgb(212, 190, 143);
    padding: 10px;
    border-radius: 10px;
   
    margin-right: auto;
    
    
}

ul{

    font-size: 20px;
    width: 400px;
    background-color: rgb(212, 190, 143);
    padding: 10px;
    border-radius: 10px;
   
    margin-right: auto;
}


footer{

    background-color: rgb(209, 149, 228);
    color: white;
    border-radius: 10px;
    width: 840px;
    padding: 100px;
    margin-left: auto;
    margin-right: auto;

}

nav{

padding: 100px;

}

.img1{

border-radius: 10px;
width: 51%;
margin-left: 400px;
margin-top:-126px;

}

.img2{

border-radius: 10px;
width: 30%;
margin-left: 800px;
margin-top: -860px;
    
    }