h1{
    
    background-color: rgb(209, 149, 228);
    color: rgb(52, 27, 58);;
    border-radius: 10px;
    width: 700px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2{
    
    color: rgb(52, 27, 58);;
    border-radius: 10px;
    margin-left: 600px;
    margin-right: auto;

}

h3{
    
    color: rgb(52, 27, 58);;
    border-radius: 10px;
    
}


    
p{

    font-size: 20px;
    width: 700px;
    background-color: rgb(212, 190, 143);
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    
    
}

ul{

    font-size: 20px;
    width: 700px;
    background-color: rgb(212, 190, 143);
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}


footer{

    background-color: rgb(209, 149, 228);
    color: white;
    border-radius: 10px;
    width: auto;
    padding: 200px;
    text-align: center;
    

}

nav{

padding: 100px;

}

.titulo1{

    
    text-align: center;
    background-position: center;

}

.titulo2{

    
    text-align: center;
    background-position: center;

}

.titulo3{

    
    text-align: center;
    background-position: center;

}

.img1{

 display: block;
 width: 35%;
 margin-left: auto;
 margin-right: auto;
 border-radius: 10px;

}

