/* Nomes das cores */

.color-name{
    color: crimson;
}

/* Cores rgb */
.rgb{
    color: rgb(255,0,0);
}

.rgb-misturado{
    color: rgb(134, 237, 255);
}

/* RGBA */
.rgba{
    color: rgba(100, 40, 200, 0.5)
}

.hex{
    color: #55a398;
}

.hex2{
    color: #1a8c55;
}

/* Hexadecimal simplificado */
.hex-simplificado{
    color: #777;
}

.hex-simplificado2{
    color: #a6e;
}

/* HSL */
.hsl{
    color: hsl(100, 20%, 50%);
}

.hsl-2{
    color: hsl(199, 44%, 40%);
}

/* Background */
.backgroundcolor{
    background-color: #000;
    color: gold;
}

.bg-2{
    background-color: rgb(100,50,33);
    color: #0fa
}

/* Opacidade no background color */
.bg-com-opacidade{
    background-color: red;
    opacity: 0.3;
}

.bg-com-opacidade-2{
    background-color: #888;
    color: black;
    opacity: 0.8;
}

/* RGBA com opacidade */
.rgba-opacidade{
    background-color: rgba(90,100,40,0.2);
    color: #000;
}